.root {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  margin-top: 50px;
}

.inner {
  padding: 20px 0;
}

.copyright {
  width: fit-content;
  margin: 0 auto;
  a {
    color: #4361ee;
    text-decoration: underline;
  }
}